.App {
  text-align: center;
}

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  padding: 15px 30px;
  font-size: 1.25rem;
  color: var(--text-white-cc);
  font-weight: bold;
  border-bottom: 2px solid var(--text-white-cc);
}

.navbar-link {
  margin: 0px 15px;
  text-decoration: none;
  color: inherit;
}

.page-container {
  padding: 20px 0;
}